<%- include('../partials/header.ejs') %>
    <section>
        <div>
            <h2>shop</h2>
            <p>severus slices offers many different kinds of pizzas, as well as deals on special events as well.
                we provide conquering services, in addition to a multitude of banquets. we also offer a bath of pizza.</p>
            <sub>note: breadsticks not included with any of our purchases.</sub>
        </div>
    </section>
    <main id="items">
        <% if(items.length){ %>
            <% items.forEach(item => { %>
                <a href="/items/<%= item.id %>" class="shop">
                    <section class="vertical">
                        <figure>
                            <img src="<%= item.image %>" alt="<%= item.alt %>">
                            <figcaption><%= item.condition %></figcaption>
                        </figure>
                        <div>
                            <h2><%= item.name %></h2>
                            <p><%= item.price %></p>
                            <p><%= item.seller %></p>
                            <p><%= item.offer %> offers</p>
                        </div>
                    </section>
                </a>
            <% }); %>
        <% } else { %>
            <p>no items found</p>
        <% } %>
    </main>
<%- include('../partials/footer.ejs') %>