<%- include('../partials/header.ejs') %>
    <main>
        <section class="currentitem">
            <figure>
                <img src="/<%= item.image %>" alt="<%= item.alt %>">
            </figure>
            <div class="currentitemdiv">
                <h2><%= item.name %></h2>
                <div>
                    <p><%= item.condition %></p>
                    <% if(item.price !== null){ %>
                        <p>$<%= item.price %>.00</p>
                    <% } else { %>
                        <p>Negotiable</p>
                    <% } %>
                    <p><%= item.seller %></p>
                    <p><%= item.offer %> offers</p>
                    <br>
                    <a class="buy" href="#">offer</a>
                    <a class="buy" href="#">buyout</a>
                </div>
            </div>
            <form id="deleditcolumn">
                <button type="submit" formmethod="GET" class="edit" formaction="<%= item.id %>/edit">edit</a>
                <button type="submit" formmethod="POST" class="edit" formaction="<%= item.id %>?_method=DELETE">del</a>
            </form>
        </section>
        <section id="itemfix">
            <h2>other offers you may be interested in:</h2>
        </section>
        <div id="items">
            <% items.slice(0, 3).forEach(item => { %>
                <a href="/items/<%= item.id %>" class="shop">
                    <section class="vertical">
                        <figure>
                            <img src="/<%= item.image %>" alt="<%= item.alt %>">
                            <figcaption><%= item.condition %></figcaption>
                        </figure>
                        <div>
                            <h2><%= item.name %></h2>
                            <% if(item.price !== null){ %>
                                <p>$<%= item.price %>.00</p>
                            <% } else { %>
                                <p>Negotiable</p>
                            <% } %>
                            <p><%= item.seller %></p>
                            <p><%= item.offer %> offers</p>
                        </div>
                    </section>
                </a>
            <% }); %>
        </div>
    </main>
<%- include('../partials/footer.ejs') %>