<%- include('../partials/header.ejs') %>
    <section>
        <div>
            <h2>search results</h2>
        </div>
    </section>
    <main id="items">
        <% if(items.length){ %>
            <% items.forEach(item => { %>
                <a href="/items/<%= item.id %>" class="shop">
                    <section class="vertical">
                        <figure>
                            <img src="<%= item.image %>" alt="<%= item.alt %>">
                            <figcaption><%= item.condition %></figcaption>
                        </figure>
                        <div>
                            <h2><%= item.name %></h2>
                            <% if(item.price !== null){ %>
                                <p>$<%= item.price %>.00</p>
                            <% } else { %>
                                <p>Negotiable</p>
                            <% } %>
                            <p><%= item.seller %></</p>
                            <p><%= item.offer %> offers</p>
                        </div>
                    </section>
                </a>
            <% }); %>
        <% } else { %>
            <section><p>no items found.</p></section>
        <% } %>
    </main>
<%- include('../partials/footer.ejs') %>