<%- include('../partials/header.ejs') %>
    <main>
        <section>
            <h2>profile</h2>
        </section>
        <section>
            <div>
                <h2>user info</h2>
                <p>first name: <%= user.firstName %></p>
                <p>last name: <%= user.lastName %></p>
                <p>email: <%= user.email %></p>
            </div>
        </section>
        <section>
            <h2>listings</h2>
        </section>
        <div style="display: flex; justify-content:center; gap: 2rem;">
            <% if(items.length){ %>
                <% items.forEach(item => { %>
                    <div>
                        <a href="/items/<%= item.id %>" class="shop">
                            <section class="vertical">
                                <figure>
                                    <img src="<%= item.image %>" alt="<%= item.alt %>">
                                    <figcaption><%= item.condition %></figcaption>
                                </figure>
                                <div>
                                    <h2><%= item.name %></h2>
                                    <% if(item.price !== null){ %>
                                        <p>$<%= item.price %>.00</p>
                                    <% } else { %>
                                        <p>Negotiable</p>
                                    <% } %>
                                    <p><%= item.seller.firstName+' '+item.seller.lastName %></</p>
                                    <p><%= item.offer %> offers</p>
                                </div>
                            </section>
                        </a>
                        <form style="display:flex;justify-content:center;margin:2rem 0;gap:1rem;">
                            <button type="submit" formmethod="GET" class="edit" formaction="../items/<%= item.id %>/edit">edit</a>
                            <button type="submit" formmethod="POST" class="edit" formaction="../items/<%= item.id %>?_method=DELETE">del</a>
                            <button type="submit" formmethod="GET" class="edit" formaction="../items/<%= item.id %>/offers">offers</a>
                        </form>
                    </div>
                <% }) %>
            <% } else { %>
                <section>
                    <h3>you have not created any listings yet</h3>
                </section>
            <% } %>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>